IMAGE_REPO=ghcr.io/skullclamp/symfony-demo
APP_VERSION=1.0.0
APP_PORT=8080
APP_ENV=prod
APP_SECRET=lab-only-session3-change-me
POSTGRES_DB=symfony
POSTGRES_USER=symfony
POSTGRES_PASSWORD=lab-symfony
DATABASE_URL=postgresql://symfony:lab-symfony@db:5432/symfony?serverVersion=16&charset=utf8
